@use 'snipets/snipets' as snipets;

.site-header {
    display: flex;
    color: #FFF;
    background-color: #212529;

    .header-title {
        margin: auto 0.15em;

        &:hover {
            color: #EEE;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .app-navbar {
        flex-grow: 1;
    }
    
    @extend %styles-anchor;
}

