@use 'snipets/mixins' as mix;

.container {
    @include mix.container-center;
}

.list {
    max-width: 300px;
    margin: 3em auto;
    padding: 1em;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;

    .item {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    input {
        flex: 1;
        padding: 0.3rem;
        font-size: 14px;
    }

    button {
        background-color: #eee;
        margin-left: 0.5rem;
        padding: 0.3rem 0.6rem;
        font-size: 14px;
        cursor: pointer;
    }
}


