:root {
    --basic-padding-input: 0.5em 1em;
    --basic-border-radius: 0.3em;
    
    --theme-1-ink: #20232A;
    --theme-1-aluminium: #ACBEBE;
    --theme-1-paper: #F4F4EF;
    
    --basic-color: #FFF;
    --basic-link-color: #00E;
    --footer-bgrd-color: #333;

    --basic-color-danger: #DC3545;
}