<nav class="site-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <p><a class="nav-link">Home</a></p>
        </li>
        <li class="nav-item">
            <p><a class="nav-link">About</a></p>
        </li>
        <li class="nav-item">
            <p><a class="nav-link">Devlog</a></p>
        </li>
    </ul>
    <ul class="nav-list">
        <li class="nav-item">
            <p><a class="nav-link">Login</a></p>
        </li>
        <li class="nav-item">
            <p><a class="nav-link">Register</a></p>
        </li>
    </ul>
</nav>


